- if @jobs.any?
  .section#jobs
    %h3.title.jobs
      %span= "We're hiring!"
      -# %p= "We have one open position at the moment:"
    %ul
      - @jobs.each do |job|
        %li
          %h4= link_to job.title, job_path(job)
- else
  %p We don't have any position available right now.
