#header a.jilion {
  background:none;
  cursor:pointer;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/embed/sublime/video/ie/jilion.png');
}

#header a.twitter {
  background:none;
  cursor:pointer;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/embed/sublime/video/ie/twitter.png');
}

#header h1 {
  background:none;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/embed/sublime/video/sublime_video.png');
}

#content {background:#757d8c;}

#content ul li {background-image:url(/images/embed/sublime/video/ie/li.png);}
#content ul li li {background-image:url(/images/embed/sublime/video/ie/li_alt.png);}

#content .new {display:none;}

.sublime_video_wrapper span.play_button {
  width:600px;
  height:255px;
  line-height:0;
  background:url(/images/embed/sublime/video/ie/transparent_pixel.gif) !important;
  cursor:pointer;
}

.sublime_video_wrapper span.play_button:hover {
/*  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#9C000000,endColorstr=#9C000000);*/
}

.sublime_video_wrapper span.play_button span {
  display:block;
  width:78px;
  height:78px;
  margin:88px auto;
  cursor:pointer;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/embed/sublime/video/play_button.png');
}