*+html #content .new {display:none;}
#content {background:#757d8c;}

.sublime_video_wrapper span.play_button {
  width:600px;
  height:255px;
  line-height:0;
  background:url(/images/embed/sublime/video/ie/transparent_pixel.gif) !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
  zoom:1;
  cursor:pointer;
}

.sublime_video_wrapper span.play_button:hover {
  filter:none;
}

.sublime_video_wrapper span.play_button span {
  display:block;
  width:78px;
  height:78px;
  margin:88px auto;
  cursor:pointer;
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/embed/sublime/video/play_button.png');
}