@font-face {
  font-family: "Museo";
  src: url('/fonts/embed/Museo300.eot');
  src: local('Museo 300'), local('Museo-300'), url('/fonts/embed/Museo300.otf') format('opentype');
}

@font-face {
  font-family: "Museo-Bold";
  src: url('/fonts/embed/Museo500.eot');
  src: local('Museo 500'), local('Museo-500'), url('/fonts/embed/Museo500.otf') format('opentype');
}

@font-face {
  font-family: "Museo-Extra";
  src: url('/fonts/embed/Museo700.eot');
	src: local('Museo 700'), local('Museo-700'), url('/fonts/embed/Museo700.otf') format('opentype');
}

* {
  margin:0;
  padding:0;
}

body {
  background:#5d6778 url(/images/embed/sublime/video/halo.png) 50% 0 no-repeat;
  font-family:"Museo", Helvetica, Arial, sans-serif;
  color:#31333e;
  text-shadow:#6F7784 0 1px 0;
  font-size:14px;
}

#global {
  width:600px;
  margin:0 auto;
}

#header {
  height:200px;
  position:relative;
}

#header a.jilion {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:54px;
  height:72px;
  background:url(/images/embed/sublime/video/jilion.png) no-repeat;
}

#header a.jilion:active {background-position:0 -72px;}
#header a.jilion span, #header a.twitter span {display:none;}

#header a.twitter {
  display:block;
  position:absolute;
  top:20px;
  right:0;
  width:38px;
  height:33px;
  background:url(/images/embed/sublime/video/twitter.png) no-repeat;
}

#header a.twitter:active {background-position:0 -33px;}

#header h1 span, #header h2 {display:none;}

#header h1 {
  display:block;
  width:330px;
  height:101px;
  background:url(/images/embed/sublime/video/sublime_video.png) no-repeat;
  margin:0 auto;
  position:relative;
  top:50px;
}

#video_wrap {
  -webkit-box-shadow:#2e333c 0 4px 20px;
  -moz-box-shadow:#2e333c 0 4px 20px;
  background:#000;
  line-height:0;
  margin-bottom:10px;
}

#caption {
  padding:5px 0 10px;
  font-size:12px;
}

#content {
  background:rgba(255,255,255,0.05);
/*    background:rgba(0,0,0,0.05);*/
  padding:20px 20px 0;
  line-height:18px;
  margin:20px 0;
  color:#202228;
  text-shadow:#7a8391 0 1px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
}

#content .left {
  float:left;
  width:270px;
  padding:0 10px 0 0;
}

#content .right {
  float:left;
  width:270px;
  padding:0 0 0 10px;
}

#content h3 {
  font-family:"Museo-Extra", Helvetica, Arial, sans-serif;
  font-size:18px;
  padding:0 0 10px;
}

#content h3 em {
  font-size:12px;
  display:block;
  padding:3px 0 0;
}

#content ul {
  list-style-type:none;
  padding:0 0 15px;
  font-size:14px;
}

#content ul li {
  padding:5px 0 5px 20px;
/*    color:#31333e;*/
  background:url(/images/embed/sublime/video/li.png) no-repeat 0 9px;
}

#content ul li ul {
  padding:0;
}

#content ul li li {
/*    padding:5px 0 5px;*/
  background:url(/images/embed/sublime/video/li_alt.png) no-repeat 1px 11px;
  position:relative;
  left:0px;
}

#faq {
  border-top:1px solid #5d6778;
  padding:20px 0 0;
}

#faq h4 {
  font-family:"Museo-Bold", Helvetica, Arial, sans-serif;
  padding:0 0 10px;
}

#footer {
  padding:0 0 20px 0;
  font-size:12px;
  text-align:center;
}

a {
  text-decoration:none;
  color:#000;
  text-shadow:#9BADCE 0 0 25px;
  outline:0;
  -webkit-transition:0.5s text-shadow;
}

a:hover {
  text-shadow:#fff 0 0 25px;
}

img {border:none;}

strong {font-family:"Museo-Bold", Helvetica, Arial, sans-serif;}

.spacer {clear:both;}

.sublime_video_wrapper {
  display:block;
  position:relative;
  line-height:0;
}

.sublime_video_wrapper .unsupported {
  position:absolute;
  width:auto;
  height:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:0.5;
  z-index:3;
  background:#000 url(/images/embed/sublime/video/not_supported.png) no-repeat 50% 40%;
  text-shadow:none;
  color:#fff;
  text-align:center;
}

.sublime_video_wrapper .unsupported p {
  position:absolute;
  width:100%;
  bottom:18%;
  font-size:20px;
}

.sublime_video_wrapper span.play_button, .sublime_video_wrapper span.pause_button {
  display:block;
  position:absolute;
  width:auto;
  height:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
  cursor:pointer;
  opacity:1;
  z-index:3;
  background:rgba(0,0,0,0.4) url(/images/embed/sublime/video/play_button.png) no-repeat 50% 50%;
  -webkit-transition:0.5s background-color;
}

.sublime_video_wrapper span.play_button:hover, .sublime_video_wrapper span.pause_button:hover {
  background-color:rgba(0,0,0,0);
}

.sublime_video_wrapper span.pause_button {background-image:url(/images/embed/sublime/video/pause_button.png);}

.sublime_video_wrapper span.enter_fullwindow_button, .sublime_video_wrapper span.exit_fullwindow_button {
  display:block;
  position:absolute;
  width:46px;
  height:46px;
  bottom:10px;
  right:10px;
  cursor:pointer;
  z-index:3;
  background:url(/images/embed/sublime/video/enter_fullwindow_button.png) no-repeat;
}

.sublime_video_wrapper span.exit_fullwindow_button {background-image:url(/images/embed/sublime/video/exit_fullwindow_button.png);}

/*SMALL*/

.sublime_video_wrapper .controls.small {
  width:100%;
  height:25px;
  position:absolute;
  bottom:0;
  left:0;
  background:url(/images/embed/sublime/video/controls/small/bar_back.png) repeat-x;
  opacity:0;
  -webkit-user-select:none;
  -webkit-transition:0.5s opacity;
/*    -webkit-transition-delay:0.3s;*/
}

.sublime_video_wrapper video:hover + .controls.small, .sublime_video_wrapper .controls.small:hover, .sublime_video_wrapper.paused .controls {
  opacity:1;
/*    -webkit-transition-delay:0;*/
}

.sublime_video_wrapper .controls.small .play_pause_button {
  display:block;
  width:15px;
  height:15px;
  background:url(/images/embed/sublime/video/controls/small/play.png) no-repeat 1px 0;
  margin:7px 0 0 5px;
  float:left;
}

.sublime_video_wrapper .controls.small .play_pause_button.pause {background:url(/images/embed/sublime/video/controls/small/pause.png) no-repeat;}

.sublime_video_wrapper .controls.small .progress_bar {
  position:absolute;
  top:0;
  left:20px;
  padding:8px 0 0;
}

.sublime_video_wrapper .controls em.elapsed_time, .sublime_video_wrapper .controls em.remaining_time {
  float:left;
  width:9%;
  font-family:Helvetica,Arial,sans-serif;
  font-style:normal;
  font-size:10px;
  font-weight:bold;
  color:#d5d5d5;
  margin:5px 0 0 0;
  text-align:center;
  text-shadow:#000 1px 1px 1px;
}

.sublime_video_wrapper .controls em.remaining_time {width:9%;}

.sublime_video_wrapper .controls .progress_back_wrap {
  float:left;
  width:80%;
  padding:0 0 0 8px;
  height:8px;
  position:relative;
  background:url(/images/embed/sublime/video/controls/small/progress_back.png) repeat-x;
  border: 1px solid rgba(0,0,0,0.7);
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
}

.sublime_video_wrapper .controls .progress_back .progress_buffered {
  width:0%;
  height:8px;
  position:absolute;
  top:0;
  left:0;
  overflow:hidden;
  background:url(/images/embed/sublime/video/controls/small/progress_buffered.png) repeat-x;
  -webkit-border-radius:20px;
  -moz-border-radius:20px;
  -webkit-transition:1s width;
}

.sublime_video_wrapper .controls .progress_back .progress_elapsed_time {
  width:0%;
/*    min-width:8px;*/
  height:8px;
  position:relative;
  left:-8px;
  padding:0 2px 0 0;
  background:url(/images/embed/sublime/video/controls/small/progress_elapsed.png) repeat-x;
  -webkit-border-radius:20px;
  -webkit-border-top-right-radius:0;
  -webkit-border-bottom-right-radius:0;
  -moz-border-radius:20px 0 0 20px;
}

/*  .sublime_video_wrapper .controls .progress_back .progress_indicator {
  width:10px;
  height:10px;
  position:absolute;
  top:-1px;
  right:-7px;
  background:url(/images/embed/sublime/video/controls/small/progress_indicator.png) no-repeat;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -webkit-transition:0.2s -webkit-box-shadow;
  -webkit-user-select: none;
  -webkit-user-drag: element;
}

.sublime_video_wrapper .controls .progress_back .progress_indicator:hover {
  -webkit-box-shadow:0 0 6px #fff;
  -moz-box-shadow:0 0 6px #fff;
}
*/

.sublime_video_wrapper .controls .progress_back .progress_indicator {
  -webkit-appearance:none;
  background:none;
  width:100%;
  height:8px;
  position:absolute;
  top:0;
  left:0;
}

.sublime_video_wrapper .controls .progress_back .progress_indicator::-webkit-slider-thumb {
  -webkit-appearance:none;
  width:10px;
  height:10px;
  display:block;
  background:url(/images/embed/sublime/video/controls/small/progress_indicator.png) no-repeat;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -webkit-transition:0.2s -webkit-box-shadow;
}

.sublime_video_wrapper .controls .progress_back .progress_indicator::-webkit-slider-thumb:hover {
  -webkit-box-shadow:0 0 6px #fff;
  -moz-box-shadow:0 0 6px #fff;
}

.sublime_video_wrapper .controls .progress_back .progress_indicator:focus {
  outline: none;
}

.sublime_video_wrapper .controls.small span.fullscreen_button {
  display:block;
  width:14px;
  height:14px;
  background:url(/images/embed/sublime/video/controls/small/fullwindow.png) no-repeat;
  float:right;
  margin:7px 5px 0 0;
}

/*FULL*/

/*  .sublime_video_wrapper .controls_wrap.fullwindow {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  z-index:4;
}*/

.sublime_video_wrapper .controls.full {
  width:334px;
  height:94px;
  position:fixed;
  bottom:10%;
  left:0;
  right:0;
  margin:0 auto;
  z-index:4;
  background:url(/images/embed/sublime/video/controls/full/pane_back.png) repeat-x;
  -webkit-transform:translate(1px,1px);
  -webkit-transform-origin:0 0;
  -webkit-transition:0.5s opacity;
  -webkit-user-select:none;
}

.sublime_video_wrapper .controls.full .play_pause_button {
  display:block;
  width:27px;
  height:27px;
  background:url(/images/embed/sublime/video/controls/full/play.png) no-repeat 0 0;
  margin:22px auto 0;
}

.sublime_video_wrapper .controls.full .play_pause_button.pause {background:url(/images/embed/sublime/video/controls/full/pause.png) no-repeat 50% 0;}

.sublime_video_wrapper .controls.full span.fast_backward {
  display:block;
  width:31px;
  height:17px;
  background:url(/images/embed/sublime/video/controls/full/backward.png) no-repeat;
  position:absolute;
  top:27px;
  left:100px;
}

.sublime_video_wrapper .controls.full span.fast_forward {
  display:block;
  width:31px;
  height:17px;
  background:url(/images/embed/sublime/video/controls/full/forward.png) no-repeat;
  position:absolute;
  top:27px;
  right:100px;
}

.sublime_video_wrapper .controls.full span.fullscreen_button {
  display:block;
  width:18px;
  height:18px;
  background:url(/images/embed/sublime/video/controls/full/close_fullwindow.png) no-repeat;
  position:absolute;
  top:26px;
  right:32px;
}

.sublime_video_wrapper .controls.small span.playback_display {display:none;}

.sublime_video_wrapper .controls.full span.playback_display {
  display:block;
  width:27px;
  height:10px;
  padding-top:9px;
  background:url(/images/embed/sublime/video/controls/full/playback_display.png) no-repeat;
  position:absolute;
  top:26px;
  left:30px;
  font-family:Helvetica,Arial,sans-serif;
  font-style:normal;
  font-size:10px;
  font-weight:bold;
  color:#d5d5d5;
  text-align:center;
  text-shadow:#000 1px 1px 1px;
  -webkit-transition:0.5s opacity;
}

.sublime_video_wrapper .controls.full .progress_bar {
  position:absolute;
  bottom:22px;
  left:8px;
  width:318px;
}

.sublime_video_wrapper .controls.full em.elapsed_time, .sublime_video_wrapper .controls.full em.remaining_time {
  width:48px;
  text-align:right;
  padding-right:6px;
}

.sublime_video_wrapper .controls.full em.remaining_time {text-align:left;padding:0 0 0 6px;}

.sublime_video_wrapper .controls.full .progress_back_wrap {
  width:200px;
}
