* {
  margin:0;
  padding:0;
}

body {
  background:#5d6778 url(/images/embed/sublime/video/halo.png) 50% 0 no-repeat;
  font-family:"proxima-nova-1","proxima-nova-2", Helvetica, Arial, sans-serif;
  color:#31333e;
  text-shadow:#6F7784 0 1px 0;
  font-size:14px;
}

body.win {font-family:Arial, sans-serif !important;}

#global {
  width:600px;
  margin:0 auto;
}

#header {
  height:200px;
  position:relative;
}

#header a.jilion {
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:54px;
  height:72px;
  background:url(/images/embed/sublime/video/jilion.png) no-repeat;
}

#header a.jilion:active {background-position:0 -72px;}
#header a.jilion span, #header a.twitter span {display:none;}

#header a.twitter {
  display:block;
  position:absolute;
  top:20px;
  right:0;
  width:38px;
  height:33px;
  background:url(/images/embed/sublime/video/twitter.png) no-repeat;
}

#header a.twitter:active {background-position:0 -33px;}

#header h1 span, #header h2 {display:none;}

#header h1 {
  display:block;
  width:330px;
  height:101px;
  background:url(/images/embed/sublime/video/sublime_video.png) no-repeat;
  margin:0 auto;
  position:relative;
  top:50px;
}

#video_wrap {
  -webkit-box-shadow:#2e333c 0 4px 20px;
  -moz-box-shadow:#2e333c 0 4px 20px;
  box-shadow:#2e333c 0 4px 20px;
  background:#000;
  line-height:0;
  width:600px;
  height:255px;
  margin-bottom:10px;
  position:relative;
}

#demo_page_info {
  position:absolute;
  width:600px;
  height:20px;
  line-height:20px;
  text-align:center;
  top:-30px;
  left:0;
  font-size:12px;
  text-shadow:#8893a8 0 1px 0;
}

#caption {
  padding:5px 0 10px;
  font-size:12px;
}

#status_update {
  background:#373d48;
  margin-top:5px;
  padding:4px 10px;
  color:#a3aec3;
  text-shadow:rgba(0,0,0,0.4) 0 -1px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

#status_update strong {
  color:#dce4f4;
}

#status_update a {
  font-size:13px;
  float:right;
  color:#fff;
  font-style:italic;
/*  font-weight:bold;*/
}

#content {
  background:rgba(255,255,255,0.15);
/*    background:rgba(0,0,0,0.05);*/
  padding:20px 20px 0;
  line-height:18px;
  margin:20px 0;
  color:#202228;
  text-shadow:#8993a3 0 1px 0;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

#content.flash_notice a {
  font-style:italic;
}

#content .left {
  float:left;
  width:270px;
  padding:0 10px 0 0;
}

#content .right {
  float:left;
  width:270px;
  padding:0 0 0 10px;
}

#content h3 {
/*  font-family:"Museo-Extra", Helvetica, Arial, sans-serif;*/
  font-size:18px;
  padding:0 0 10px;
}

#content h3 em {
  font-size:12px;
  display:block;
  padding:3px 0 0;
}

#content p.headline {
  text-align:center;
  font-weight:400;
  font-size:22px;
  line-height:30px;
  padding:5px 0 22px;
}

#content p.headline em {
  font-style:normal;
  color:#7e0f00;
}

#content p.subline {
  font-size:16px;
  line-height:30px;
  text-align:center;
  padding:5px 0 22px;
}

#content ul {
  list-style-type:none;
  padding:0 0 15px;
  font-size:14px;
}

#content ul li {
  padding:5px 0 5px 20px;
/*    color:#31333e;*/
  background:url(/images/embed/sublime/video/li.png) no-repeat 0 9px;
}

#content .new {
  padding-right:31px;
  background:url(/images/embed/sublime/video/new_label.png) no-repeat 100% 50%;
}

#content a.small_link {
  font-style:italic;
  font-size:12px;
  font-weight:bold;
  position:relative;
  left:5px;
}

#content ul li ul {
  padding:0;
}

#content ul li li {
/*    padding:5px 0 5px;*/
  background:url(/images/embed/sublime/video/li_alt.png) no-repeat 1px 11px;
  position:relative;
  left:0px;
}

#faq {
  border-top:1px solid #5d6778;
  padding:20px 0 0;
}

#faq h4 {
/*  font-family:"Museo-Bold", Helvetica, Arial, sans-serif;*/
  padding:0 0 10px;
}

#footer {
  padding:0 0 60px 0;
  font-size:12px;
  text-align:center;
}

a {
  text-decoration:none;
  color:#000;
  text-shadow:#9BADCE 0 0 25px;
  outline:0;
  -webkit-transition:0.5s text-shadow;
}

a:hover {
  text-shadow:#fff 0 0 25px;
}

img {border:none;}

/*strong {font-family:"Museo-Bold", Helvetica, Arial, sans-serif;}*/

.spacer {clear:both;}