.wrap
  .box.horizon
    = link_to "http://sublimevideo.net/#horizon-video" do
      %span
        %h3= "SublimeVideo Horizon"
        %h4= "The Framework technology that finally sparks the HTML5 Video Revolution. Learn more >"