.section.main_description
  %p= "SublimeVideo is the world's first cloud-based HTML5 Video player; a pioneering solution that provides Web publishers with a fast, pain-free way to truly embrace and enable HTML5 and allows their videos to play flawlessly on any device, browser and web page."
