.section.main_description
  %p= "SublimeVideo started in 2010 as the world's first cloud-based HTML5 Video player; a pioneering solution that provides Web publishers with a fast, pain-free way to truly embrace and enable HTML5 and allows their videos to play flawlessly on any device, browser and web page."

  %p= raw "Today, SublimeVideo Horizon, the world’s first HTML5 Video Player Framework, goes a giant leap beyond existing HTML5 Video player implementations, by solving two big HTML5 Video challenges for the very first time: Providing brands and web publishers with both total graphic freedom and complete features modularity, that just work, with pixel-perfect rendering, on any web browser and the latest mobile platforms. #{link_to "Learn more", "http://sublimevideo.net"}."