%h2 Press

- semantic_form_for :contact, contact(Contact::Press), :url => contacts_path, :html => { :multipart => true } do |f|
  - f.inputs do
    = f.input :_type, :as => :hidden
    = f.input :email, :required => true
    = f.input :file, :as => :file, :required => true
    
  - f.buttons do
    = f.commit_button "Submit"