!!! strict
%meta{ "http-equiv" => "X-UA-Compatible", :content => "chrome=1"}
%html{ "xmlns" => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", "lang" => "en" }
  %head
    %title= "Jilion - #{yield :title}"
    
    %meta{ "http-equiv" => "Content-Type", :content => "text/html;charset=UTF-8" }
    
    %link{ :href => "/stylesheets/sublime/video/style.css", :type => "text/css", :media => "screen", :rel => "stylesheet" }
    /[if lte IE 6]
      %meta{ "http-equiv" => "Refresh", :content => "0;url=/ie" }
      %style{ :type => "text/css", :media => "screen" }
        == body {background:#fff;display:none;}
  %body
    = yield
    
    %script{ :src => "/javascripts/sublime/video/prototype.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/sublime/video/application.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/sublime/video/s2.js", :type => "text/javascript" }
    %script{ :src => "/javascripts/sublime/video/drag.js", :type => "text/javascript" }
    - google_analytics